:root {
  --background-color: #e9ecf1;
  --primary-color: #f27eea;
  --secondary-color: #43d9d9;
  --success-color: #6ad9b0;
  --apply-color: #5274d9;
}
.theme-color {
  background: var(--background-color);
}
.primary-color {
  color: var(--primary-color);
}
.primary-background {
  background: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.secondary-background {
  background: var(--secondary-color);
}
.success-color {
  color: var(--success-color);
}
.success-background {
  background: var(--success-color);
}
.apply-color {
  color: var(--apply-color);
}
.apply-background {
  background: var(--apply-color);
}

body {
  background: var(--background-color);
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  text-align: center;
  margin: 30px 5px;
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    -2px -2px 2px rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.main-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: space-evenly;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemrow {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.logo {
  aspect-ratio: 1/1;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  font-size: 55px;
  font-weight: bold;
  color: var(--primary-color);
  font-family: monospace;
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.1),
    -4px -4px 10px 3px rgba(255, 255, 255, 0.8);
  user-select: none;
}
.round {
  border-radius: 30px !important;
}
.round-circle {
  width: 20px;
  aspect-ratio: 4/4;
  border-radius: 100px !important;
  text-align: center;
  line-height: 20px;
}
.input-group {
  color: #888888;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 30px;
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.1),
    inset -2px -2px 10px 3px rgba(255, 255, 255, 0.5);
}
.fa-search {
  color: var(--primary-color);
}
.fa-user {
  color: var(--secondary-color);
}
.input {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  width: calc(100% - 30px);
  background: transparent;
  border: none;
  padding: 15px;
}
.input:focus {
  outline: none;
}
.input-group span {
  width: 40px;
  text-align: right;
}
.button {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 15px 15px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1),
    -4px -4px 8px 2px rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.button-padding {
  padding: 15px 35px !important;
}
.button:active {
  transform: translate(3px, 3px);
  box-shadow: inset 3px 3px 4px 2px rgba(0, 0, 0, 0.1),
    inset -3px -3px 8px 4px rgba(255, 255, 255, 0.8);
}
.radio-control {
  font-family: sans-serif;
  font-size: 16px;
  color: #555555;
}
.radio,
.checkbox,
.toggle,
.range {
  font: inherit;
  appearance: none;
  transform: translateY(8px);
  display: inline-grid;
  place-items: center;
}
label {
  -webkit-user-select: none;
}
.radio {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.08),
    inset -1px -1px 3px 1px rgba(255, 255, 255, 0.8);
}
.radio-control + .radio-control {
  margin-top: 0px;
}
.radio:checked {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1),
    -2px -2px 5px 1px rgba(255, 255, 255, 0.8);
}

.radio::before,
.checkbox::before,
.toggle::before {
  content: " ";
  position: absolute;
  font: inherit;
}
.radio::before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1),
    -1px -1px 1px 1px rgba(255, 255, 255, 0.7);
}
.radio:checked::before {
  transform: scale(1);
  background: var(--secondary-color);
  box-shadow: none;
  animation: boom 0.2s ease-out;
}
@keyframes boom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2.5);
  }
}
.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transition: 1s;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08),
    -1px -1px 3px 1px rgba(255, 255, 255, 0.8);
}
.checkbox::before {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.08),
    inset -1px -1px 3px 1px rgba(255, 255, 255, 0.8);
}
.checkbox:checked::before {
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px 1px rgba(0, 0, 0, 0.1);
  background: var(--primary-color);
  animation: booms 0.2s ease-in-out;
}
@keyframes booms {
  0% {
    transform: scale(1);
    width: 0px;
  }
  50% {
    transform: scale(1.5);
    width: 100%;
  }
}
.toggle {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  transition: 0.5s ease-out;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.08),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.8);
}
.toggle:checked {
  background: var(--apply-color);
  box-shadow: none;
}
.toggle::before {
  transition: 0.5s ease-out;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  left: 0px;
  background: var(--background-color);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09),
    3px 3px 10px 2px rgba(0, 0, 0, 0.09);
}
.toggle:checked::before {
  left: 25px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.09),
    3px 3px 10px 2px rgba(0, 0, 0, 0.09);
}
.range-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.range {
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  box-shadow: inset 0px 2px 5px 1px rgba(0, 0, 0, 0.2),
    inset 0px -2px 5px 1px rgba(255, 255, 255, 1);
}
.range::-webkit-slider-thumb {
  height: 20px;
  aspect-ratio: 1;
  border-radius: 0px 10px 10px 0px;
  appearance: none;
}
.range::-webkit-range-thumb {
  border-radius: 50%;
  appearance: none;
}
.range-primary::-webkit-slider-thumb,
.range-primary::-webkit-range-thumb {
  background: var(--primary-color);
  border-image: linear-gradient(90deg, var(--primary-color) 50%, transparent 0)
    0 1 / calc(50% - 20px / 2) 100vw/0 calc(100vw + 0px);
}
.range-secondary::-webkit-slider-thumb,
.range-secondary::-webkit-range-thumb {
  background: var(--secondary-color);
  border-image: linear-gradient(
      90deg,
      var(--secondary-color) 50%,
      transparent 0
    )
    0 1 / calc(50% - 20px / 2) 100vw/0 calc(100vw + 0px);
}
.range-success::-webkit-slider-thumb,
.range-success::-webkit-range-thumb {
  background: var(--success-color);
  border-image: linear-gradient(90deg, var(--success-color) 50%, transparent 0)
    0 1 / calc(50% - 20px / 2) 100vw/0 calc(100vw + 0px);
}
.range-apply::-webkit-slider-thumb,
.range-apply::-webkit-range-thumb {
  background: var(--apply-color);
  border-image: linear-gradient(90deg, var(--apply-color) 50%, transparent 0) 0
    1 / calc(50% - 20px / 2) 100vw/0 calc(100vw + 0px);
}
.selectitem {
  min-width: 350px;
  position: relative;
}
.selectitem span {
  position: absolute;
  top: 30%;
  right: 80px;
  pointer-events: none;
}
.select {
  appearance: none;
  width: calc(100% - 50px);
  font-size: 16px;
  padding: 14px 50px 14px 25px;
  border-radius: 10px;
  background: var(--background-color);
  box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.1),
    -4px -4px 10px 3px rgba(255, 255, 255, 0.8);
}
.select,
.select:focus {
  outline: none;
  border: none;
}
